{% extends "!page.html" %}
{% block header %}
<div class="pageheader">
  <div align="center">
    <br/>
    <table id="topnav-table">
      <tr>
        <td valign="middle">
          ROS Resources:
            <a href="http://discourse.ros.org/">ROS Discussion Forum</a>
            |
            <a href="http://status.ros.org/">ROS Service Status</a>
            |
            <a href="http://answers.ros.org/">Q&A answers.ros.org</a>

        </td>
      </tr>
    </table>
  </div>
</div>
{% endblock %}
{% block body %}
{{ super() }}
{% endblock %}%
